<% provide(:title, full_title('Home')) %>
<% unless user_signed_in? %>
  <div class="container">
    <div id="unsigned-in-promo" class="jumbotron">
      <img src="assets/bulb.png" alt="Inspiration bulb">
      <h1>Read, write and discuss ideas.</h1>
      <button type="button" class="btn btn-large btn-primary">Get Started</button>
    </div>
  </div>
<% end %>
<div class="container">
  <div class="new-idea-bar">
    <h1>A new thought? Why not publish it for us?</h1>
    <button type="button" class="btn btn-large btn-primary">Create a new idea!</button>
  </div>
  <nav class="idea-list">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">New</a></li>
      <li><a href="#">All</a></li>
    </ul>
  </nav>
</div>
