<% provide(:title, 'All ideas') %>

<div class="container">
  <div class="row">
    <h2 class="col-md-6 col-md-offset-2">All ideas</h2>
  </div>

  <%= will_paginate %>
    <div class="ideas list-group col-md-offset-2 col-md-7">
      <%= render @ideas %>
    </div>
  <%= will_paginate %>
</div>