<% provide(:title, full_title(@idea.title)) %>

<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-8">
      <section class="panel panel-info">
        <header class="panel-heading">
          <h2 class=""><%= @idea.title %></h2>
          <span class="glyphicon glyphicon-tags"></span>
          <div class="tags">
            <% @idea.tags.each do |t| %>
              <div class="tag label btn-info md">
                <span><%= link_to t.name, tag_path(t.name) %></span>
              </div>
            <% end %>
          </div>
          <div class="voter">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <span class="glyphicon glyphicon-thumbs-down"></span>
          </div>
        </header>
        <section class="panel-body">
          <%= @idea.content %>
        </section>
      </section>
    </div>
  </div>
</div>