section {
  margin-top: 0.5em;
}

.tags {
  display: inline;
}

.tag {
  margin-left: 7px;
}

.voter {
  float: right;
  font-size: 22px;
}

button {
  margin-top: -40px;
}

.contents {
  min-height: 400px;
}

.bootstrap-tagsinput {
  width: 400px;
}

h2 {
  margin-top: 4px;
}