#unsigned-in-promo {
  img {
    width: 40%;
    height: auto;
    float: left;
    padding-right: 10%;
  }
  margin: 10px 0 0 0;
  float: right;
  background-color: white;

  button {
    margin-top: 20px;
  }
}
