<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <%= link_to "IdeaSpark", '#', id: "logo", class: "navbor-brand" %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home",    '#' %></li>
      <li><%= link_to "Sign in", '#' %></li>
    </ul>
  </div>
</nav>
