<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "IdeaSpark", '#', id: "logo", class: "navbor-brand" %>
    <nav role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",    home_path %></li>
        <li><%= link_to "Sign in", about_path %></li>
      </ul>
    </nav>
  </div>
</header>
